/hello-world/.exercism
/hello-world/build
/hello-world/.gradle
/two-fer/.exercism
/two-fer/build
/two-fer/.gradle
/reverse-string/.exercism
/reverse-string/build
/reverse-string/.gradle
/leap/.exercism
/leap/build
/leap/.gradle
/resistor-color/.exercism
/resistor-color/.gradle
/resistor-color/build
/resistor-color-duo/.exercism
/resistor-color-duo/.gradle
/resistor-color-duo/build
/darts/.exercism
/darts/.gradle
/darts/build