/hello-world/.exercism
/hello-world/build
/hello-world/.gradle
/two-fer/.exercism
/two-fer/build
/two-fer/.gradle
/reverse-string/.exercism
/reverse-string/build
/reverse-string/.gradle
/leap/.exercism
/leap/build
/leap/.gradle
/resistor-color/.exercism
/resistor-color/.gradle
/resistor-color/build
/resistor-color-duo/.exercism
/resistor-color-duo/.gradle
/resistor-color-duo/build
/darts/.exercism
/darts/.gradle
/darts/build
/armstrong-numbers/.exercism
/armstrong-numbers/.gradle
/armstrong-numbers/build
/rna-transcription/.exercism
/rna-transcription/.gradle
/rna-transcription/build
/dnd-character/.exercism
/dnd-character/.gradle
/dnd-character/build
/grains/.exercism
/grains/.gradle
/grains/build
/pangram/.exercism
/pangram/.gradle
/pangram/build
/hamming/.exercism
/hamming/.gradle
/hamming/build
/gigasecond/.exercism
/gigasecond/.gradle
/gigasecond/build